body {
  background-color: rgb(156, 214, 154);
}

canvas {
  background-color: rgb(176, 224, 230);
  display: block;
  margin: 0 auto;
}

h1 {
  color: rgb(29, 82, 141);
  text-align: center;
}

header {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 30px;
  color: rgb(29, 82, 141);
  text-align: center;
}
